@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --primary-color: #a734f3;
  --dark-color:#0F172A;
  --light-color: #FDE68A;
  --green-color: #4ADE80;
}

body, html{
  height: 100%;
  background: var(--dark-color); 
  background-image: url("triviapp2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

* > *{
    font-family: 'Poppins', sans-serif;
}

.container{
  display: block;
  position:relative;
  margin: auto;
  height: auto;
  width: 38%;
  padding-top: 20px;
}

.container2{
  display: block;
  position:absolute; 
  margin: 360px auto;
  height: auto;
  width: 88%;
  padding: 30px 60px;
  border: 8px solid rgb(103, 232, 249,.5);
  border-radius: 5px;
}


.text-light {
	color: var(--light-color);
}

.text-light-info{
  color: var(--light-color);
  font-size: 18px;
}

.text-light-q{
  color: var(--light-color);
  font-size: 24px;
  position: relative;
  margin-left: 78%;
  top: 0px;
}

.text-light-c{
  color: var(--light-color);
  font-size: 18px;
  position: relative;
  top: -50px;
}

.text-light-question{
  color: var(--light-color);
  font-size: 28px;
  position: relative;
  top: -26px;
}

.container .questions{
    font-size: 16px;
    
}


.container .btn{
    padding: .2em 1.7em;
    border: none;
    border-radius: .1em;
    font-size: 1.5em;
    margin: 40px 135px;
}

.container .btn:hover{
    cursor: pointer;
    background-color: #CBD5E1;
    color: #202020;
}

.selectbox{
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 58%;
  flex: 0.8;
  justify-content: space-evenly;
  margin-left: 21%;
  margin-top: 3%;
 }

.list{
  width: 100%;
  display: flex;
  flex-direction:column;
  height: 100%;
}

.next{
  
    background-color: var(--green-color);
    justify-self: flex-end;
}

.prev{
    background-color: #faff5a;
    justify-self: flex-start;
}

ul li{
  color: #AAAAAA;
  display:block;
  position:relative;
  float: right;
  width: 100%;
  height: 100px;
	border: 1px solid var(--primary-color);
  margin: 16px;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label{
	color: #FFFFFF;
}

ul li .check{
  display: block;
  position: absolute;
  border: 2px solid #AAAAAA;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 20px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

ul li:hover .checked {
  border: 5px solid #FFFFFF;
}

ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 0px;
	left: 0px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 2px solid var(#AAAAAA)
}

input[type=radio]:checked ~ .check::before{
  background: var(--green-color)
}

input[type=radio]:checked ~ .text-primary{
  color: var(--green-color);
  font-size: 23px;
} 

/* To get selected option we are using this checked class */
.checked {
  border: 2px solid var(--green-color) !important;
}

.checked::before{
  background: var(--green-color)
}